#home.page #content-container{
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-template-rows: 1fr;

  padding: 30px;
  padding-bottom: 0;
}

.page .content{
  border: 1px solid rgb(17, 17, 17);
  border-radius: 5px;
  /* border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; */
  
  min-height: 600px;  
}
.page .content h2{
  text-align: center;
}